<div class="form-panel">
    <h2><i class="fa fa-angle-right"></i> Prof index</h2>

    <div>
        Prof menu:
        <ol>
            <li title="Displays all owned courses">@Html.ActionLink("Display courses", "DisplayCourses", "Prof")</li>
            <li title="Creates a new forum topic">@Html.ActionLink("Go to forum", "Forum", "Discussions")</li>
        </ol>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
