<div class="form-panel">
    <h2><i class="fa fa-angle-right"></i> Admin index</h2>

    <div>
        Admin menu:
        <ol>
            <li title="Contains search, block/unblock functionalities">@Html.ActionLink("Display all users", "DisplayUsers", "Admin")</li>
            <li title="Contains search, delete functionalities">@Html.ActionLink("Display all logs", "DisplayLogs", "Admin")</li>
            <li title="Imports users from a chosen file and assigns roles">@Html.ActionLink("Import users from csv file", "ImportUsers", "Admin")</li>
        </ol>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>