@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "";
    ViewBag.Title = "Error";
}

<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
<link href="/Content/themes/Theme/assets/css/error.css" rel="stylesheet">

<div class="row mt">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <hgroup class="title">
            <h1 class="error">Error</h1>
            <h2 class="error">@ViewBag.Error</h2>
        </hgroup>
    </div>
    <div class="col-lg-3"></div>
</div>
